*{
    padding: 0;
    margin: 0;
    border-color: black;
    border : 5px;
    font-family: "Chewy";
}

body h4{
    color: white;
    text-shadow: 1px 1px 3px black, 1px 1px 1em black, 1px 1px 20em black;
}

img{
    width: 100%;
    max-width: 100%;
}

li.uno{
    background-image: url(./Assets/bgcases/pdybg1.png);
    background-position: center;
    background-size: cover;
}

body {
    background-image: linear-gradient(to bottom, rgb(218, 213, 213), rgb(157, 157, 153));
}

header {
    color: blue;
    text-align: center;
}

body h1{
    color: blue;
    text-align: center;
}

body h3{
    color: blue;
    text-align: center;
    font-size: 0.5rem;
}

.flexbox ul{
    display: flex;
    justify-content: space-around;
}

.flexbox li{
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100px;
    width: 300px;
    margin: 7px;
    background-color: #9d64ff3b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px 2px black;
    border: 0.2rem solid;
    border-color: black;
}

li.redbox{
    border: 0.2rem solid;
    border-color: red;
}

li.daybox{
    border: 0.2rem solid;
    border-color: green;
    background-image: url(./Assets/bgcases/daybox.png);
    background-position: center;
    background-size: cover;
}

.wrap-img{
    flex-basis: 60%;
    flex-wrap: wrap;
}

li.dos{
    background-image: url(./Assets/bgcases/bgyt.png);
    background-position: center;
    background-size: cover;
}

li.tres{
    background-image: url(./Assets/bgcases/bgpoeme.png);
    background-position: center;
    background-size: cover;
}

li.quatro{
    background-image: url(./Assets/bgcases/bgmystere.png);
    background-position: center;
    background-size: cover;
}

li.cinco{
    background-image: url(./Assets/bgcases/bgbondachat.png);
    background-position: center;
    background-size: cover;
}

li.seis{
    background-image: url(./Assets/bgcases/bgcatene.png);
    background-position: center;
    background-size: cover;
}

li.nueve{
    background-image: url(./Assets/Gifts/totalessence.png);
    background-position: center;
    background-size: cover;
}

li.siete{
    background-image: url(./Assets/Gifts/Salambos.png);
    background-position: center;
    background-size: cover;
}

li.diez{
    background-image: url(./Assets/bgcases/justunmot.png);
    background-position: center;
    background-size: cover;
}

li.once{
    background-image: url(./Assets/bgcases/chatal.png);
    background-position: center;
    background-size: cover;
}

li.doce{
    background-image: url(./Assets/bgcases/pomedeu.png);
    background-size: cover;
}

li.trece{
    background-image: url(./Assets/bgcases/bonflic.png);
    background-size: cover;
}

li.quatorce{
    background-image: url(./Assets/bgcases/crocheter.png);
    background-size: cover;
}

li.quinze{
    background-image: url(./Assets/bgcases/fonddeux.png);
    background-size: cover;
}

li.santaclaus{
    background-image: url(./Assets/bgcases/saping.png);
    background-position: center;
    background-size: cover;
}

li.magie{
    background-image: url(./Assets/bgcases/magie.png);
    background-position: center;
    background-size: cover;
}

li.notday{
    background-image: url(./Assets/bgcases/notday.png);
    background-position: center;
    background-size: cover;
}
